<div class="container-fluid">
  <div class="row mt-5p">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h3 class="text-center">NoteIt</h3>
      <div class="form-horizontal">
        {{input-component type="text" className="form-control" name="username" value=username
                          placeholder="Email Address" fieldStatus=emailStatus}}
        {{input-component type="password" className="form-control" name="password" value=password
                          placeholder="Password" fieldStatus=passwordStatus enter=(action "login")}}
        {{#if showLoginPage}}
          <a href="#" class="btn btn-link pull-right mnt-15 mb-20" {{action "forgotPassword"}}>forgot password?</a>

          <div class="form-group">
            <button class="btn btn-primary btn-block" {{action "login"}}>Log In</button>
          </div>
          <div class="form-group text-center"><span>Don"t have an account? </span>
            <a href="#" {{action "showLoginPage" false}}>Sign Up</a></div>
        {{else}}
          {{input-component type="password" className="form-control" name="cnf_password" value=confirmPassword
                            placeholder="Confirm Password" fieldStatus=cnfPasswordStatus}}
          <div class="form-group mt-30">
            <button class="btn btn-primary btn-block" {{action "signUp"}}>Create Account</button>
          </div>
          <div class="form-group text-center"><span class="">Already have an account? </span>
            <a href="#" {{action "showLoginPage" true}}>Log In</a></div>
        {{/if}}
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>