<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" {{action "clearSearch"}}>NoteIt</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="glyphicon glyphicon-user mr-5"></span>Account<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#" {{action "goto" "root.account"}}>Change Password</a></li>
          <li><a href="#" {{action "logout"}}>Log Out</a></li>
        </ul>
      </li>
    </ul>
    <div class="navbar-form navbar-left">
      <div class="input-group">
        {{input type="text" id="SEARCH_NOTE" class="form-control" name="search_note" enter="searchNote" value=searchNote
                placeholder="Search notes"}}
        <div class="input-group-btn">
          <button class="btn btn-default" {{action "searchNote"}}>
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="mt-60"></div>
{{outlet}}