<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h4 class="text-center">Change Password</h4>
    <div class="form-horizontal">
      {{input-component type="password" className="form-control" name="old_password" value=oldPassword
                        placeholder="Old Password" fieldStatus=oldPasswordStatus}}
      {{input-component type="password" className="form-control" name="new_password" value=newPassword
                        placeholder="New Password" fieldStatus=newPasswordStatus}}
      {{input-component type="password" className="form-control" name="cnf_password" value=confirmPassword
                        placeholder="Confirm Password" fieldStatus=cnfPasswordStatus}}
      <div class="form-group text-center">
        <button class="btn btn-primary mr-10" {{action "changePassword"}}>Save</button>
        <button class="btn btn-default" {{action "gotoHome"}}>Cancel</button>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>